html {
	max-width: 100%;
	overflow-x: hidden;
	scroll-snap-destination: 50% 50%;
	scroll-snap-type: proximity;

	scroll-behavior: smooth
}

html.notes--active {
	scroll-snap-destination: none;
	scroll-snap-type: none;
}

body {
	font-family: 'Amatic SC', sans-serif;
	font-size: 48px;
}

main {
	max-width: 20em;
	margin: 0 auto;
}

section {
	scroll-snap-coordinate: 50% 50%;
	margin: 40vh 0;
}

h1,
h2,
h3 {
	text-align: center;
}

h1 + p:only-of-type,
h2 + p:only-of-type,
h3 + p:only-of-type {
	text-align: center;
}

section ul li {
	list-style: none;
	padding-left: 2em;
}

section ul li:before {
	content: '=>';
	margin-right: 1rem;
}

pre,
code {
	font-family: 'Amatic SC', monospace;
	font-size: 0.75em;
	background: #ddd;
}

.notes {
	background: yellow;
	padding: 0.5em;
	display: none;
}

/* Activate Notes when set in HTML class */
.notes--active .notes {
	display: block !important;
}
